name: Generate changelog

on:
  push:
    branches:
      - "release/**"

jobs:
  build:

    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
    - name: Checkout Latest Commit
      uses: actions/checkout@v6

    - name: "✏️ Generate release changelog"
      uses: janheinrichmerker/action-github-changelog-generator@v2.4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        user: dermatologist
        maxIssues: 15
        httpCache: true

    - name: Commit changes
      uses: EndBug/add-and-commit@v9
      with:
        default_author: github_actions
        add: '*.md'